/Notes/.vs
/Notes/Notes.Application/bin
/Notes/Notes.Application/obj
/Notes/Notes.Domain/bin
/Notes/Notes.Domain/obj
/Notes/Notes.Infrastructure/bin
/Notes/Notes.Infrastructure/obj
/Notes/Notes.Web/bin
/Notes/Notes.Web/obj
/Notes/Notes.Composition/obj
/Notes/Notes.Composition/bin
